/* W3.CSS 4.11 October 2018 by Jan Egil and Borge Refsnes */
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent;-webkit-text-decoration-skip:objects}
a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}svg:not(:root){overflow:hidden}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-input-placeholder{color:inherit;opacity:0.54}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* End extract */
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}.omega-serif{font-family:serif}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.omega-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
.omega-image{max-width:100%;height:auto}img{vertical-align:middle}a{color:inherit}
.omega-table,.omega-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}.omega-table-all{border:1px solid #ccc}
.omega-bordered tr,.omega-table-all tr{border-bottom:1px solid #ddd}.omega-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.omega-table-all tr:nth-child(odd){background-color:#fff}.omega-table-all tr:nth-child(even){background-color:#f1f1f1}
.omega-hoverable tbody tr:hover,.omega-ul.omega-hoverable li:hover{background-color:#ccc}.omega-centered tr th,.omega-centered tr td{text-align:center}
.omega-table td,.omega-table th,.omega-table-all td,.omega-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.omega-table th:first-child,.omega-table td:first-child,.omega-table-all th:first-child,.omega-table-all td:first-child{padding-left:16px}
.omega-btn,.omega-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.omega-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.omega-btn,.omega-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.omega-disabled,.omega-btn:disabled,.omega-button:disabled{cursor:not-allowed;opacity:0.3}.omega-disabled *,:disabled *{pointer-events:none}
.omega-btn.omega-disabled:hover,.omega-btn:disabled:hover{box-shadow:none}
.omega-badge,.omega-tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.omega-badge{border-radius:50%}
.omega-ul{list-style-type:none;padding:0;margin:0}.omega-ul li{padding:8px 16px;border-bottom:1px solid #ddd}.omega-ul li:last-child{border-bottom:none}
.omega-tooltip,.omega-display-container{position:relative}.omega-tooltip .omega-text{display:none}.omega-tooltip:hover .omega-text{display:inline-block}
.omega-ripple:active{opacity:0.5}.omega-ripple{transition:opacity 0s}
.omega-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}
.omega-select{padding:9px 0;width:100%;border:none;border-bottom:1px solid #ccc}
.omega-dropdown-click,.omega-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.omega-dropdown-hover:hover .omega-dropdown-content{display:block}
.omega-dropdown-hover:first-child,.omega-dropdown-click:hover{background-color:#ccc;color:#000}
.omega-dropdown-hover:hover > .omega-button:first-child,.omega-dropdown-click:hover > .omega-button:first-child{background-color:#ccc;color:#000}
.omega-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0;z-index:1}
.omega-check,.omega-radio{width:24px;height:24px;position:relative;top:6px}
.omega-sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.omega-bar-block .omega-dropdown-hover,.omega-bar-block .omega-dropdown-click{width:100%}
.omega-bar-block .omega-dropdown-hover .omega-dropdown-content,.omega-bar-block .omega-dropdown-click .omega-dropdown-content{min-width:100%}
.omega-bar-block .omega-dropdown-hover .omega-button,.omega-bar-block .omega-dropdown-click .omega-button{width:100%;text-align:left;padding:8px 16px}
.omega-main,#main{transition:margin-left .4s}
.omega-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.omega-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.omega-bar{width:100%;overflow:hidden}.omega-center .omega-bar{display:inline-block;width:auto}
.omega-bar .omega-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.omega-bar .omega-dropdown-hover,.omega-bar .omega-dropdown-click{position:static;float:left}
.omega-bar .omega-button{white-space:normal}
.omega-bar-block .omega-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.omega-bar-block.omega-center .omega-bar-item{text-align:center}.omega-block{display:block;width:100%}
.omega-responsive{display:block;overflow-x:auto}
.omega-container:after,.omega-container:before,.omega-panel:after,.omega-panel:before,.omega-row:after,.omega-row:before,.omega-row-padding:after,.omega-row-padding:before,
.omega-cell-row:before,.omega-cell-row:after,.omega-clear:after,.omega-clear:before,.omega-bar:before,.omega-bar:after{content:"";display:table;clear:both}
.omega-col,.omega-half,.omega-third,.omega-twothird,.omega-threequarter,.omega-quarter{float:left;width:100%}
.omega-col.s1{width:8.33333%}.omega-col.s2{width:16.66666%}.omega-col.s3{width:24.99999%}.omega-col.s4{width:33.33333%}
.omega-col.s5{width:41.66666%}.omega-col.s6{width:49.99999%}.omega-col.s7{width:58.33333%}.omega-col.s8{width:66.66666%}
.omega-col.s9{width:74.99999%}.omega-col.s10{width:83.33333%}.omega-col.s11{width:91.66666%}.omega-col.s12{width:99.99999%}
@media (min-width:601px){.omega-col.m1{width:8.33333%}.omega-col.m2{width:16.66666%}.omega-col.m3,.omega-quarter{width:24.99999%}.omega-col.m4,.omega-third{width:33.33333%}
.omega-col.m5{width:41.66666%}.omega-col.m6,.omega-half{width:49.99999%}.omega-col.m7{width:58.33333%}.omega-col.m8,.omega-twothird{width:66.66666%}
.omega-col.m9,.omega-threequarter{width:74.99999%}.omega-col.m10{width:83.33333%}.omega-col.m11{width:91.66666%}.omega-col.m12{width:99.99999%}}
@media (min-width:993px){.omega-col.l1{width:8.33333%}.omega-col.l2{width:16.66666%}.omega-col.l3{width:24.99999%}.omega-col.l4{width:33.33333%}
.omega-col.l5{width:41.66666%}.omega-col.l6{width:49.99999%}.omega-col.l7{width:58.33333%}.omega-col.l8{width:66.66666%}
.omega-col.l9{width:74.99999%}.omega-col.l10{width:83.33333%}.omega-col.l11{width:91.66666%}.omega-col.l12{width:99.99999%}}
.omega-rest{overflow:hidden}
.omega-content,.omega-auto{margin-left:auto;margin-right:auto}  
.omega-content{max-width:980px}.omega-auto{max-width:1140px}
.omega-cell-row{display:table;width:100%}.omega-cell{display:table-cell}
.omega-cell-top{vertical-align:top}.omega-cell-middle{vertical-align:middle}.omega-cell-bottom{vertical-align:bottom}
.omega-hide{display:none!important}.omega-show-block,.omega-show{display:block!important}.omega-show-inline-block{display:inline-block!important}
@media (max-width:1205px){.omega-auto{max-width:95%}}
@media (max-width:600px){.omega-modal-content{margin:0 10px;width:auto!important}.omega-modal{padding-top:30px}
.omega-dropdown-hover.omega-mobile .omega-dropdown-content,.omega-dropdown-click.omega-mobile .omega-dropdown-content{position:relative}	
.omega-hide-small{display:none!important}.omega-mobile{display:block;width:100%!important}.omega-bar-item.omega-mobile,.omega-dropdown-hover.omega-mobile,.omega-dropdown-click.omega-mobile{text-align:center}
.omega-dropdown-hover.omega-mobile,.omega-dropdown-hover.omega-mobile .omega-btn,.omega-dropdown-hover.omega-mobile .omega-button,.omega-dropdown-click.omega-mobile,.omega-dropdown-click.omega-mobile .omega-btn,.omega-dropdown-click.omega-mobile .omega-button{width:100%}}
@media (max-width:768px){.omega-modal-content{width:500px}.omega-modal{padding-top:50px}}
@media (min-width:993px){.omega-modal-content{width:900px}.omega-hide-large{display:none!important}.omega-sidebar.omega-collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.omega-hide-medium{display:none!important}}
@media (max-width:992px){.omega-sidebar.omega-collapse{display:none}.omega-main{margin-left:0!important;margin-right:0!important}.omega-auto{max-width:100%}}
.omega-top,.omega-bottom{position:fixed;width:100%;z-index:1}.omega-top{top:0}.omega-bottom{bottom:0}
.omega-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
.omega-display-topleft{position:absolute;left:0;top:0}.omega-display-topright{position:absolute;right:0;top:0}
.omega-display-bottomleft{position:absolute;left:0;bottom:0}.omega-display-bottomright{position:absolute;right:0;bottom:0}
.omega-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.omega-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.omega-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.omega-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.omega-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.omega-display-container:hover .omega-display-hover{display:block}.omega-display-container:hover span.omega-display-hover{display:inline-block}.omega-display-hover{display:none}
.omega-display-position{position:absolute}
.omega-circle{border-radius:50%}
.omega-round-small{border-radius:2px}.omega-round,.omega-round-medium{border-radius:4px}.omega-round-large{border-radius:8px}.omega-round-xlarge{border-radius:16px}.omega-round-xxlarge{border-radius:32px}
.omega-row-padding,.omega-row-padding>.omega-half,.omega-row-padding>.omega-third,.omega-row-padding>.omega-twothird,.omega-row-padding>.omega-threequarter,.omega-row-padding>.omega-quarter,.omega-row-padding>.omega-col{padding:0 8px}
.omega-container,.omega-panel{padding:0.01em 16px}.omega-panel{margin-top:16px;margin-bottom:16px}
.omega-code,.omega-codespan{font-family:Consolas,"courier new";font-size:16px}
.omega-code{width:auto;background-color:#fff;padding:8px 12px;border-left:4px solid #4CAF50;word-wrap:break-word}
.omega-codespan{color:crimson;background-color:#f1f1f1;padding-left:4px;padding-right:4px;font-size:110%}
.omega-card,.omega-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.omega-card-4,.omega-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.omega-spin{animation:omega-spin 2s infinite linear}@keyframes omega-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
.omega-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.omega-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.omega-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.omega-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.omega-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.omega-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.omega-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.omega-animate-input{transition:width 0.4s ease-in-out}.omega-animate-input:focus{width:100%!important}
.omega-opacity,.omega-hover-opacity:hover{opacity:0.60}.omega-opacity-off,.omega-hover-opacity-off:hover{opacity:1}
.omega-opacity-max{opacity:0.25}.omega-opacity-min{opacity:0.75}
.omega-greyscale-max,.omega-grayscale-max,.omega-hover-greyscale:hover,.omega-hover-grayscale:hover{filter:grayscale(100%)}
.omega-greyscale,.omega-grayscale{filter:grayscale(75%)}.omega-greyscale-min,.omega-grayscale-min{filter:grayscale(50%)}
.omega-sepia{filter:sepia(75%)}.omega-sepia-max,.omega-hover-sepia:hover{filter:sepia(100%)}.omega-sepia-min{filter:sepia(50%)}
.omega-tiny{font-size:10px!important}.omega-small{font-size:12px!important}.omega-medium{font-size:15px!important}.omega-large{font-size:18px!important}
.omega-xlarge{font-size:24px!important}.omega-xxlarge{font-size:36px!important}.omega-xxxlarge{font-size:48px!important}.omega-jumbo{font-size:64px!important}
.omega-left-align{text-align:left!important}.omega-right-align{text-align:right!important}.omega-justify{text-align:justify!important}.omega-center{text-align:center!important}
.omega-border-0{border:0!important}.omega-border{border:1px solid #ccc!important}
.omega-border-top{border-top:1px solid #ccc!important}.omega-border-bottom{border-bottom:1px solid #ccc!important}
.omega-border-left{border-left:1px solid #ccc!important}.omega-border-right{border-right:1px solid #ccc!important}
.omega-topbar{border-top:6px solid #ccc!important}.omega-bottombar{border-bottom:6px solid #ccc!important}
.omega-leftbar{border-left:6px solid #ccc!important}.omega-rightbar{border-right:6px solid #ccc!important}
.omega-section,.omega-code{margin-top:16px!important;margin-bottom:16px!important}
.omega-margin{margin:16px!important}.omega-margin-top{margin-top:16px!important}.omega-margin-bottom{margin-bottom:16px!important}
.omega-margin-left{margin-left:16px!important}.omega-margin-right{margin-right:16px!important}
.omega-padding-small{padding:4px 8px!important}.omega-padding{padding:8px 16px!important}.omega-padding-large{padding:12px 24px!important}
.omega-padding-16{padding-top:16px!important;padding-bottom:16px!important}.omega-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.omega-padding-32{padding-top:32px!important;padding-bottom:32px!important}.omega-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.omega-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.omega-left{float:left!important}.omega-right{float:right!important}
.omega-button:hover{color:#000!important;background-color:#ccc!important}
.omega-transparent,.omega-hover-none:hover{background-color:transparent!important}
.omega-hover-none:hover{box-shadow:none!important}
/* Colors */
.omega-amber,.omega-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.omega-aqua,.omega-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.omega-blue,.omega-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.omega-light-blue,.omega-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.omega-brown,.omega-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.omega-cyan,.omega-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.omega-blue-grey,.omega-hover-blue-grey:hover,.omega-blue-gray,.omega-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.omega-green,.omega-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.omega-light-green,.omega-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.omega-indigo,.omega-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.omega-khaki,.omega-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.omega-lime,.omega-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.omega-orange,.omega-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.omega-deep-orange,.omega-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.omega-pink,.omega-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.omega-purple,.omega-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.omega-deep-purple,.omega-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.omega-red,.omega-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.omega-sand,.omega-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.omega-teal,.omega-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.omega-yellow,.omega-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.omega-white,.omega-hover-white:hover{color:#000!important;background-color:#fff!important}
.omega-black,.omega-hover-black:hover{color:#fff!important;background-color:#000!important}
.omega-grey,.omega-hover-grey:hover,.omega-gray,.omega-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
.omega-light-grey,.omega-hover-light-grey:hover,.omega-light-gray,.omega-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.omega-dark-grey,.omega-hover-dark-grey:hover,.omega-dark-gray,.omega-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.omega-pale-red,.omega-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.omega-pale-green,.omega-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.omega-pale-yellow,.omega-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.omega-pale-blue,.omega-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.omega-text-amber,.omega-hover-text-amber:hover{color:#ffc107!important}
.omega-text-aqua,.omega-hover-text-aqua:hover{color:#00ffff!important}
.omega-text-blue,.omega-hover-text-blue:hover{color:#2196F3!important}
.omega-text-light-blue,.omega-hover-text-light-blue:hover{color:#87CEEB!important}
.omega-text-brown,.omega-hover-text-brown:hover{color:#795548!important}
.omega-text-cyan,.omega-hover-text-cyan:hover{color:#00bcd4!important}
.omega-text-blue-grey,.omega-hover-text-blue-grey:hover,.omega-text-blue-gray,.omega-hover-text-blue-gray:hover{color:#607d8b!important}
.omega-text-green,.omega-hover-text-green:hover{color:#4CAF50!important}
.omega-text-light-green,.omega-hover-text-light-green:hover{color:#8bc34a!important}
.omega-text-indigo,.omega-hover-text-indigo:hover{color:#3f51b5!important}
.omega-text-khaki,.omega-hover-text-khaki:hover{color:#b4aa50!important}
.omega-text-lime,.omega-hover-text-lime:hover{color:#cddc39!important}
.omega-text-orange,.omega-hover-text-orange:hover{color:#ff9800!important}
.omega-text-deep-orange,.omega-hover-text-deep-orange:hover{color:#ff5722!important}
.omega-text-pink,.omega-hover-text-pink:hover{color:#e91e63!important}
.omega-text-purple,.omega-hover-text-purple:hover{color:#9c27b0!important}
.omega-text-deep-purple,.omega-hover-text-deep-purple:hover{color:#673ab7!important}
.omega-text-red,.omega-hover-text-red:hover{color:#f44336!important}
.omega-text-sand,.omega-hover-text-sand:hover{color:#fdf5e6!important}
.omega-text-teal,.omega-hover-text-teal:hover{color:#009688!important}
.omega-text-yellow,.omega-hover-text-yellow:hover{color:#d2be0e!important}
.omega-text-white,.omega-hover-text-white:hover{color:#fff!important}
.omega-text-black,.omega-hover-text-black:hover{color:#000!important}
.omega-text-grey,.omega-hover-text-grey:hover,.omega-text-gray,.omega-hover-text-gray:hover{color:#757575!important}
.omega-text-light-grey,.omega-hover-text-light-grey:hover,.omega-text-light-gray,.omega-hover-text-light-gray:hover{color:#f1f1f1!important}
.omega-text-dark-grey,.omega-hover-text-dark-grey:hover,.omega-text-dark-gray,.omega-hover-text-dark-gray:hover{color:#3a3a3a!important}
.omega-border-amber,.omega-hover-border-amber:hover{border-color:#ffc107!important}
.omega-border-aqua,.omega-hover-border-aqua:hover{border-color:#00ffff!important}
.omega-border-blue,.omega-hover-border-blue:hover{border-color:#2196F3!important}
.omega-border-light-blue,.omega-hover-border-light-blue:hover{border-color:#87CEEB!important}
.omega-border-brown,.omega-hover-border-brown:hover{border-color:#795548!important}
.omega-border-cyan,.omega-hover-border-cyan:hover{border-color:#00bcd4!important}
.omega-border-blue-grey,.omega-hover-border-blue-grey:hover,.omega-border-blue-gray,.omega-hover-border-blue-gray:hover{border-color:#607d8b!important}
.omega-border-green,.omega-hover-border-green:hover{border-color:#4CAF50!important}
.omega-border-light-green,.omega-hover-border-light-green:hover{border-color:#8bc34a!important}
.omega-border-indigo,.omega-hover-border-indigo:hover{border-color:#3f51b5!important}
.omega-border-khaki,.omega-hover-border-khaki:hover{border-color:#f0e68c!important}
.omega-border-lime,.omega-hover-border-lime:hover{border-color:#cddc39!important}
.omega-border-orange,.omega-hover-border-orange:hover{border-color:#ff9800!important}
.omega-border-deep-orange,.omega-hover-border-deep-orange:hover{border-color:#ff5722!important}
.omega-border-pink,.omega-hover-border-pink:hover{border-color:#e91e63!important}
.omega-border-purple,.omega-hover-border-purple:hover{border-color:#9c27b0!important}
.omega-border-deep-purple,.omega-hover-border-deep-purple:hover{border-color:#673ab7!important}
.omega-border-red,.omega-hover-border-red:hover{border-color:#f44336!important}
.omega-border-sand,.omega-hover-border-sand:hover{border-color:#fdf5e6!important}
.omega-border-teal,.omega-hover-border-teal:hover{border-color:#009688!important}
.omega-border-yellow,.omega-hover-border-yellow:hover{border-color:#ffeb3b!important}
.omega-border-white,.omega-hover-border-white:hover{border-color:#fff!important}
.omega-border-black,.omega-hover-border-black:hover{border-color:#000!important}
.omega-border-grey,.omega-hover-border-grey:hover,.omega-border-gray,.omega-hover-border-gray:hover{border-color:#9e9e9e!important}
.omega-border-light-grey,.omega-hover-border-light-grey:hover,.omega-border-light-gray,.omega-hover-border-light-gray:hover{border-color:#f1f1f1!important}
.omega-border-dark-grey,.omega-hover-border-dark-grey:hover,.omega-border-dark-gray,.omega-hover-border-dark-gray:hover{border-color:#616161!important}
.omega-border-pale-red,.omega-hover-border-pale-red:hover{border-color:#ffe7e7!important}.omega-border-pale-green,.omega-hover-border-pale-green:hover{border-color:#e7ffe7!important}
.omega-border-pale-yellow,.omega-hover-border-pale-yellow:hover{border-color:#ffffcc!important}.omega-border-pale-blue,.omega-hover-border-pale-blue:hover{border-color:#e7ffff!important}